<form name="loginForm" novalidate>
    <div class="row">
        <div class="col-md-5">
            EmailId
        </div>
        <div class="col-md-2">
            OR
        </div>
        <div class="col-md-5">
            Enrollment No
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <input type="email" name="EmailId" ng-model="lc.EmailId" ng-required="lc.IsEmailOrEnrollmentPresent()" />

            <p ng-show="((loginForm.EmailId.$touched || loginForm.$submitted) && loginForm.EmailId.$error.required)">
                Please enter EmailID or EnrollmentNo
            </p>
            <p ng-show="((loginForm.EmailId.$touched || loginForm.$submitted) && loginForm.EmailId.$error.email)">
                invalid email formate
            </p>
        </div>
        <div class="col-md-2">
            &nbsp;&nbsp;
        </div>
        <div class="col-md-5">
            <input type="text" name="EnrollmentNo" ng-model="lc.EnrollmentNo" ng-required="lc.IsEmailOrEnrollmentPresent()" />
            <p ng-show="((loginForm.EnrollmentNo.$touched || loginForm.$submitted) && loginForm.EnrollmentNo.$error.required)">
                Please enter EmailID or EnrollmentNo
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            Password
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <input type="password" name="LoginPassword" ng-model="lc.Password" required/>
            <p ng-show="((loginForm.LoginPassword.$touched || loginForm.$submitted) && loginForm.LoginPassword.$error.required)">
                Please enter Password
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <input type="submit" value="SignIn" ng-click="loginForm.$valid && lc.signIn()" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a ui-sref="forgotPassword">Forot Password</a>
        </div>
        <div class="col-md-6">
            <a ui-sref="RegisterUser">New User? Sign In</a>
        </div>
    </div>
</form>